html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #659DBD;
  font-family: Arial, Helvetica, sans-serif;
}
.create-new-homework-page {
  position: relative;
  left: 5rem;
  text-align: left;
  border: 3px solid #a37942;
  margin-top: 2rem;
  width: 80%;
  padding: 5rem 0 4rem 4rem;
  background-color: #FBEEC1;
  border-radius: 3rem;
}

p {
  text-align: center;
  padding-top: 0.5rem;
}

#submit {
  background-color: #3d7697;
  border-radius: 3rem;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

input {
  margin: 0.4rem 0;
}

#filter {
  position: relative;
  left: 50rem;
  bottom: 17.6rem;
  display: block;
}

#homeworks-output {
  width: 30%;
  position: relative;
  left: 47rem;
  bottom: 17rem;
}

h3 {
  position: relative;
  margin-left: 9.2rem;
  bottom: 42rem;
  color: mediumblue;
  position: absolute;
}

#login-form {
  background-color: #FBEEC1;
  border: 3px solid #a37942;
  font-weight: bolder;
  border-radius: 3rem;
  width: 40%;
  padding: 2rem;
  position: relative;
  left: 21rem;
  top: 15rem;
  text-align: center;
}
